/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body{
    font-family: 'DM Sans', sans-serif;
}

/*container*/

.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/*Nav*/

.nav{
    background-color: #171718;
    color: #ffffff;
    border-bottom: 1px solid var(--bordes, #26292D);

    padding: 20px 0;
}

.nav-rov {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.nav-logo {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.nav-logo span{
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.nav-list {
    display: flex;
    column-gap: 40px;

    align-items: center;
}
.nav-list__link {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav-list__link::after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    flex-shrink: 0;

    background-color: #5C62EC;
}
.nav-list__link.active::after{
    width: 100%;
}