/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/



body,html{
    font-family: 'DM Sans', sans-serif;
}

/*container*/

.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/*Nav*/

.nav{
    background-color: #171718;
    color: #ffffff;
    border-bottom: 1px solid #26292D;

    padding: 20px 0;
    min-height: 7.5vh;
}

.nav-rov {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.nav-logo {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.nav-logo span{
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.nav-list {
    display: flex;
    column-gap: 40px;

    align-items: center;
}
.nav-list__link {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav-list__link::after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    flex-shrink: 0;

    background-color: #5C62EC;
}
.nav-list__link.active::after{
    width: 100%;
}
.nav-list__link.active{
    color: #5C62EC;
}
/*header*/

.header {
    padding: 40px 0;
    margin: auto 0;
    
    background: #171718 url('../img/header/background.png') center no-repeat;
    background-size: auto;
    color: #FAFAFA;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 92.5vh;
}
.header__container {
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
}
.header__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.5px;

    margin-bottom: 14px;
}
.header__title strong{
    font-size: 60px;
}
.header__title span{
    color: #5C62EC;
    font-family: DM Sans;
    font-size: 60px;
}
.header__text {
    max-width: 360px;
    margin: 0 auto;
}
.header__btn {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;

    margin-top: 5%;
    padding: 12px 28px;
    background-color: #5C62EC;
    display: inline-block;
}

/*section*/

.section {
    padding: 70px 0;
}
.section__title {
    color: #5C62EC;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 78px */
    letter-spacing: -0.5px;

    margin-bottom: 5%;
    }
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    column-gap: 10px;
    row-gap: 30px;
}
.projects__item {
    width: 32%;
    border-radius: 10px;
    
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);

    transition: all .3s ease;
}
.projects__item:hover{
    opacity: 0.5;
}
.projects__img {
    width: 100%;
    height: auto;
}
.projects__img img{
    width: 100%;
    height: auto;

    border-radius: 10px;
}
.prokects__name {
    color: #171718;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0.5px;

    padding: 2% 0 5% 5%;
}

/*footer*/

.footer {
    background-color: #171718;
    padding: 64px 0 50px 0;
}
.social {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
}
.social__item{
    font-size: 36px;
}
.social__item  a i{
    color: #ffffff;
    transition: all .3s ease;
}
.social__item:hover  a i{
    color: #6e6d6d;
}
.footer__text {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.5px;

    padding-top: 30px;
}