/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/



body,html{
    font-family: 'DM Sans', sans-serif;
}

/*container*/

.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/*Nav*/

.nav{
    background-color: #171718;
    color: #ffffff;
    border-bottom: 1px solid #26292D;

    padding: 20px 0;
    min-height: 7.5vh;
}

.nav-rov {
    display: flex;
    justify-content: space-between;
    align-items: center;

    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.nav-logo {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.nav-logo span{
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;

    align-items: center;
}
.nav-list__link {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav-list__link::after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    flex-shrink: 0;

    background-color: #5C62EC;

    transition: all .3s ease;
}
.nav-list__link:hover:after{
    width: 100%; 
    background-color: #262bca;
}
.nav-list__link:hover{
    color: #262bca;
}
.nav-list__link.active::after{
    width: 100%;
}
.nav-list__link.active{
    color: #5C62EC;
}
.nav-list__link.active:hover{
    color: #5C62EC;
}
/*header*/

.header {
    padding: 40px 0;
    margin: auto 0;
    
    background: #171718 url('../img/header/background.png') center no-repeat;
    background-size: auto;
    color: #FAFAFA;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 92.5vh;
}
.header__container {
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
}
.header__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.5px;

    margin-bottom: 14px;
}
.header__title strong{
    font-size: 60px;
}
.header__title span{
    color: #5C62EC;
    font-family: DM Sans;
    font-size: 60px;
}
.header__text {
    max-width: 360px;
    margin: 0 auto;
}
.header__btn {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;

    margin-top: 5%;
    padding: 12px 28px;
    background-color: #5C62EC;
    display: inline-block;

    transition: all .3s ease;
}
.header__btn:hover {
    background-color: #a34cdd;
    box-shadow: 0 0 10px #a34cdd;
}

/*section*/

.section {
    padding: 70px 0;
}
.section__title {
    color: #5C62EC;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 78px */
    letter-spacing: -0.5px;

    margin-bottom: 5%;
    }
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    column-gap: 10px;
    row-gap: 30px;
}
.projects__item {
    width: 32%;
    border-radius: 10px;
    
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);

    transition: all .3s ease;
}
.projects__item:hover{
    opacity: 0.5;
}
.projects__img {
    width: 100%;
    height: auto;
}
.projects__img img{
    width: 100%;
    height: auto;

    border-radius: 10px;
}
.prokects__name {
    color: #171718;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0.5px;

    padding: 2% 0 5% 5%;
}
/*project-ditails*/
.project-ditails {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 40px;
}
.project-ditails__img {
    max-width: 100%;
    height: auto;

    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin-bottom: 40px;
}
.project-ditails-desc {
    color: #171718;
    text-align: center;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0.5px;

    max-width: 480px;

    margin-bottom: 30px;
}
.project-ditails-learmMore {
    display: flex;

    align-items: center;

    border: 1px solid #000;
    border-radius: 10px;

    padding: 12px 20px;

    transition: all .3s ease;
}
.project-ditails-learmMore:hover{
    opacity: .7;
    box-shadow: 0 0 5px gray;
}
.project-ditails-learmMore i{
    color: #000;
    font-size: 26px;
    padding-right: 8px;
}
.project-ditails-text {
    color: #000;
    text-align: center;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
}
/*content*/
.skills{
    display: flex;
    flex-direction: column;
}
.content__list {
    max-width: 571px;
    margin: 0 auto;
}
.section__title-2 {
    color: #171718;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    letter-spacing: -0.5px;
}
.content__list-item p{
    color: #171718;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.5px;
}
.footer.skills{
    margin-top: auto;
}
/*footer*/

.footer {
    background-color: #171718;
    padding: 64px 0 50px 0;
}
.social {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
}
.social__item{
    font-size: 36px;
}
.social__item  a i{
    color: #ffffff;
    transition: all .3s ease;
}
.social__item:hover  a i{
    color: #6e6d6d;
}
.footer__text {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.5px;

    padding-top: 30px;
}


/*media*/

@media(max-width:800px){
    /*header*/

    .header {
        padding: 30px 0;
    }
    .header__title {
        font-size: 30px;
    }
    .header__title strong{
        font-size: 50px;
    }
    .header__title span{
        font-size: 50px;
    }
    .header__btn {
        font-size: 14px;

        padding: 10px 24px;
    }
    /*section*/

    .section {
        padding: 60px 0;
    }
    .section__title {
        font-size: 50px;
        }
    .projects__item {
        width: 48%;
    }
    .projects__item:hover{
        opacity: 0.5;
    }
    .prokects__name {
        font-size: 22px;
    }
}

@media(max-width:480px){
    /*header*/
    .header__title strong{
        font-size: 45px;
    }
    .header__title span{
        font-size: 45px;
    }
    /*section*/

    .section {
        padding: 55px 0;
    }
    .section__title {
        font-size: 40px;
    }
    .projects__item {
        width: 100%;
    }
    /*project-ditails*/
    .project-ditails {
        margin-bottom: 30px;
    }
    .project-ditails__img {
        margin-bottom: 30px;
    }
    .project-ditails-desc {
        font-size: 20px;
    }
    .project-ditails-learmMore {
        padding: 10px 18px;
    }
    .project-ditails-learmMore i{
        font-size: 22px;
    }
    .project-ditails-text {
        font-size: 18px;
    }
    /*content*/
    .section__title-2 {
        font-size: 30px;
    }
    .content__list-item p{
        font-size: 16px;
    }
}

@media(max-width:360px){
    /*header*/
    .header__title strong{
        font-size: 35px;
    }
    .header__title span{
        font-size: 35px;
    }
    /*section*/

    .section {
        padding: 45px 0;
    }
    .section__title {
        font-size: 32px;
    }
    /*project-ditails*/
    .project-ditails-desc {
        font-size: 18px;
    }
    .project-ditails-learmMore i{
        font-size: 20px;
    }
    .project-ditails-text {
        font-size: 16px;
    }
    /*content*/
    .skills{
        display: flex;
        flex-direction: column;
    }
    .content__list {
        max-width: 571px;
        margin: 0 auto;
    }
    .section__title-2 {
        font-size: 26px;
    }
    .content__list-item p{
        font-size: 14px;
    }
    .footer.skills{
        margin-top: auto;
        padding: 34px 30px;
    }
}
@media(max-height:680px){
    .skills{
        display: block;
    }
    .footer.skills{
        margin-top: 0;
        padding: 34px 30px;
    }
}